@{
    ViewData["Title"] = "Home Page";
}

<div style="background-color: mediumvioletred" class="jumbotron rounded col-lg-12 col-md-10">
    <h1 class="display-3 text-center" style="color: white "><b>FAMOUS QUOTE QUIZ</b></h1>
    <div style="background-color: mediumvioletred" class="jumbotron rounded col-lg-12 col-md-10">
        <h6 class="display-4 text-center" style="color: white "><b>Who Said It?</b></h6>
    </div>
</div>
