@{
    ViewData["Title"] = "Settings";
}

<div class="container col-lg-12">
    <h1 class="display-3 text-center"><b>Set Up Your Quiz</b></h1>

    <div style="background-color: mediumvioletred" class="container jumbotron col-lg-8 text-center align-content-lg-center">
        <a class="button text-center" style="color: white"
           asp-controller="Quotes"
           asp-action="RandomQuote"/>
        <h2>Yes-No Answers Quiz</h2>
    </div>

    <div style="background-color: mediumvioletred" class="container jumbotron col-lg-8 text-center align-content-lg-center">
        <a class="button text-center" style="color: white "
           asp-controller="Quotes"
           asp-action="RandomQuoteTriple"/>
        <h2>Triple-Choice Answers Quiz</h2>
    </div>
</div>