@{
    ViewData["Title"] = "Settings";
}

<div style="background-color: white" class="jumbotron col-lg-12">
    <h1 class="display-4 text-center"><b>Set Up Your Quiz</b></h1>
</div>

<div style="background-color: mediumvioletred" class="jumbotron col-lg-12 text-center align-content-lg-center">
    <button class="btn btn-outline-primary col-lg-6 display-4 text-center" style="color: white " /><b>Yes-No Answers Quiz</b>
</div>

<div style="background-color: mediumvioletred" class="jumbotron col-lg-12 text-center align-content-lg-center">
    <button class="btn btn-outline-primary col-lg-6 display-4 text-center" style="color: white " /><b>Triple-Choice Answers Quiz</b>
</div>
