@model AnswerViewModel

@{
    ViewData["Title"] = "Answer";
}

<partial name="_AuthorFormPartial" model="Model" />

<div class="col-lg-12 text-center align-content-lg-center">
    <h5><a class="btn btn-success" asp-controller="Quotes" asp-action="RandomQuoteTriple">Next Quote</a></h5>
</div>